<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>サンプル</title>
<link rel='stylesheet' href='/stylesheets/sakaban.css' />
</head>
<body>

<h2>セリフの追加していくか？</h2>

<img id="switch" src="../images/basupisu1.png" alt="Switch">

<form method="post" action="/colors">
  <div class="form-group">
    <label for="word">Word</label>
    <input type="text" name="word" id="word" 
      class="form-control">
  </div>
  <input type="submit" value="作成" 
    class="btn btn-primary">
</form>

</body>
</html>